.formlienhe input{
    height: 40px;
   margin-top: 20px;
   margin-bottom: 20px;

}
.formlienhe input[type="submit"]{
    height: 40px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.img-logo-cus{
    max-width: 50% !important;
    height: auto !important;

}
.title-tracuu{
    background-color: #e9182f;
    padding: 2px 10px;
    border-radius: 10px;
}
.flex-cus{
    display: flex;
    flex-direction: column;
   
    align-items: center;

}


.mobile-phone-cus{
    background-color: #1d9504;
    /* transform: translateY(-21px); */
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    /* color: green; */
    justify-content: center;
    align-items: center;
}
.mobile-phone-cus a{
    color: green;
}
.bd{
    border-top: 3px dashed #ef2037;
    padding: 20px;
}
.h3-custom{
    background-color: #ef2037;
    color: white;
    font-weight: 700;
    font-size: 31px;
    width: 103%;
    padding: 10px;
    transform: translateX(-7px);
    border-radius: 10px;
}
.tuan-flex{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.tran-tran{
    background-color: #d5d5d5;
    transform: translateY(-34px);
    padding: 10px;
    height: 92px;
    border-radius: 50%;
}
.menu-cung a:active{
    background-color: aliceblue;
}
.menu-cung a:hover .title-san{
 opacity: 1;
 visibility:visible;
    transition: 1.5s all ;
}
.menu-cung .title-san:hover{
    opacity: 0;
}

.title-san{
    visibility:hidden;
    position: absolute;
    width: 210px;
    left: 50px;
    font-weight: 900;
    display: flex;
    opacity: 0;
    text-align: center;
    height: 40px;
    background-color: #ff0000;
    color: wheat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.menu-cung{
    width: 60px;
    padding: 5px;
    background-color: red;
    position: fixed;
    display: flex;
    top:300px;
    left: 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-cung li{
    list-style: none;
    margin: 6px 0px;
}
.khung-t{
    background-color: #f3f3f3;
    border-radius: 10px;
}
#mapDiv{
    height: 223px !important;
}
.bor img{
    border-radius: 10px;
    /* margin-left: 10px; */
    width: 100%;
}
.bor-20{
    border-radius: 20px !important;
}
.bg-nen{
    background-color:#f3f3f3 !important;
}
.bg-do{
    background-color: #dc3a4d !important;
}
.bg-xanh{
    background-color: #00c2ff !important;
  
}
.bg-red{
    background-color: #d70018 !important;
}
.img-mo{
    height: 35px;
    width: 35px;
}
.tuan-flex{
    font-size: 30px;
    background-color: #d5d5d5;
    height: 70px;
}
.abcontent{
    font-size: 20px;
}